<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reçu de commande</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace; /* Police monospacée pour une meilleure compatibilité */
            font-size: 14px; /* Taille réduite pour la largeur de l'imprimante */
            margin: 0;
            padding: 0;
        }
        .centered {
            text-align: center;
            font-weight: bold;
        }
        .info {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .info p {
            margin: 5px 0;
        }
        .line {
            border-top: 1px dashed black;
            margin: 10px 0;
        }
        .right {
            text-align: right;
        }
        .left {
            text-align: left;
        }
    </style>
    
</head>
<body>

    <div class="">
        <p><strong>RECU</strong></p>
        <p><strong>{{entreprise }}</strong></p>
        <p>{{ adresse }}</p>
        <p>{{ whatsapp }}</p>
    </div>

    <div class="line"></div>

    <div class="info">
        <p><strong>Numéro de commande:</strong> {{ commande.id }}</p>
        <p><strong>Date:</strong> {{ commande.dateCommande|date('d/m/Y') }}</p>
        <p><strong>Client:</strong> {{ commande.client.nom }}</p>
        <p><strong>Poids:</strong> {{ poids }} kg</p>
        <p><strong>Prix/kg:</strong> {{ prixKilo }} F cfa</p>
    </div>

    <div class="line"></div>

    <div class="">
        <p><strong>Total à payer:</strong> {{ poids * prixKilo }} FCFA</p>
        
    </div>

    <div class="line"></div>

    <div class="">
        <p><strong>{{ delai }}</strong></p>
        <p><strong>{{ penalty }}</strong> <br> <strong>{{ prix_penalty }}</strong> </p>
    </div>
    <p> Merci pour votre confiance </p>
    <br>


</body>



</html>
